.layout--basic
  & > .header
    z-index: 10
    position: fixed
    display: flex
    justify-content: space-between
    align-items: center
    left: 50%
    top: 0
    width: 100%
    margin-top: 2em
    color: white
    transform: translateX(-50%)

    .action
      text-decoration: none
      cursor: pointer

      &:hover
        text-decoration: underline