.layout--feed
  position: fixed
  display: flex
  left: 0
  top: 0
  width: 100vw
  height: 100vh

  .sidebar
    position: relative
    overflow-y: scroll
    width: 21em
    height: 100%
    background-image:
      linear-gradient(-180deg, alpha(white, 0.9) 0%,
      alpha(white, 0.9) 100%), linear-gradient(-180deg, #3F6E7D 0%, #4E3F45 100%)

    & > .header
      display: flex
      justify-content: center
      align-items: center
      padding: 1.5em 0
      border-bottom: 2px solid rgba(black, 0.05)

      .logo
        width: 60%

    .filters
      list-style: none
      padding-left: 2em

      .section
        border-bottom: 2px solid rgba(black, 0.05)

        .header, .dropdown
          position: relative
          height: 3.5em
          padding-right: 2em

          &, & > *
            display: flex

          & > *
            align-items: center
            height: 100%
            // background-color: alpha(black, 0.36)

          .icon, .arrow
            width: 2em

          .icon
            justify-content: flex-start
            color: $aqua-b

            .element
              width: 100%
              height: 100%
              max-width: 1.5em
              max-height: 1.5em

          .text
            flex: 1
            justify-content: flex-start
            font-size: .9em
            color: alpha(black, 0.6)

          .arrow
            justify-content: flex-end
            color: alpha(black, 0.28)

            .element
              width: 1em

    .reset
      display: flex
      justify-content: center
      padding-top: 1.5em

  .content
    z-index: 1
    overflow-y: scroll
    flex: 1
    height: 100%
    box-shadow: 0 7px 10px 0px alpha($dark-blue-a, 0.2)

