.page__header
  z-index: 10
  position: fixed
  display: flex
  justify-content: space-between
  align-items: center
  left: 0
  top: 0
  width: 100%
  margin-top: 2em
  color: white

  .action
    text-decoration: none
    cursor: pointer

    &:hover
      text-decoration: underline