.posts__item
  display: flex
  margin-bottom: 1em

  .actions
    display: flex
    align-item: center
    margin-right: 1em

    & > .item
      width: 1.5em
      color: $dark-gray-a

      &:not(:last-child)
        margin-right: .5em

  .title
    color: $blue-a