.nav__user
  display: flex

  .item
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    width: 3em
    height: 3em
    border: 1px solid $light-gray-b
    border-radius: 50%
    cursor: pointer

    &:not(:last-child)
      margin-right: 1.5em

    &:hover
      .icon
        color: $dark-gray-b

    .icon
      height: 1.5em
      color: $dark-gray-a

    .image
      position: relative
      width: 100%
      height: 100%
